.todo-list-wrapper {
  table {
    border-collapse: separate;
    border-spacing: 3px;
  }

  td {
    font-size: 14px;
    text-align: center;
    vertical-align: center;
    padding: 20px;
    padding: 8px;
    width: 7rem;
    background-color: #f5f6f8;
  }
  th {
    white-space: nowrap;
    color: #716f88;
    text-align: center;
    font-weight: 600;
    font-size: 14px;
    vertical-align: middle;
    border-left: "5px solid red";
  }
  td:first-child {
    width: 27rem;
    text-align: left;
    border-left: 6px solid #599bf8;
  }
  th:first-child {
    text-align: left;
  }
  .statuscol {
    width: 9rem;
    color: white;
  }
}
